<div class="container">
  <div class="jumbotron text-center">
    <h1>miseShare</h1>
    <h2>グループで行きたいお店をシェアしよう</h2>
  </div>
</div>

<%= link_to 'グループ一覧', groups_path, class: "btn btn-warning btn-lg" %>
